body {
    display: flex;
    justify-content: center;
}

h3, h4 {
    color: rgb(9, 9, 41);
    background-color: rgb(177, 195, 255);
}

#cuerpo {
    background-color: rgba(71, 71, 140, 0.303);    
}

#encabezado {
    background-color: rgba(116, 116, 190, 0.565);
}

img {
    width: 200px; 
    filter: opacity(90%);  
    border-radius: 50%; 
}

img:hover {
    filter:none;
}
